* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.navbar-title {
  font-weight: bolder;
  margin-left: 120px !important;
  margin-top: 15px;
  color: black;
  font-size: 34px;
}
.navbar-title:hover {
  color: black;
}
.navbar-sections a {
  color: black;
  font-weight: 600;
  margin-right: 40px;
  margin-top: 15px;
  font-size: 18px;
}
.navbar-sections a:hover {
  color: #d14f4f;
}

.navbar-button {
  border-radius: 10px !important;
  margin-right: 120px;
  margin-top: 15px;
  margin-left: 25px;
}
.home-img {
  width: 650px;
  height: 450px;
}

.text-1 {
  color: black;
  margin-left: 25px;
  font-weight: 600;
  font-size: 24px;
}
.text-2 {
  color: black;
  margin-left: 25px;
  font-weight: bold;
  font-size: 56px;
}
.text-3 {
  color: black;
  margin-left: 25px;
  font-weight: bold;
  font-size: 22px;
}
.aboutMe_heading {
  color: #c5221f;
  font-weight: bolder;
  border-bottom: 2px solid #c5221f;
  width: 210px;
}
.aboutMe_intro {
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 22px;
}
.about-horizontal {
  border: 2px solid black;
}
.about-img {
  width: 150px;
  height: 250px;
  margin-top: 30px;
}
.about-button {
  border-radius: 30px !important;
  background-color: #3e89cd;
  color: white;
  width: 150px;
  height: 30px;
  border: none;
}
.about-dob{
  color: #C5221F;
  font-weight: 600;
}
.about-loc{
  color: #C5221F;
  font-weight: 600;
}
.about-button{
  height: 53px;
  border-radius: 24px;
  width: 160px;
}
.services_heading{
  font-weight: 800;
  font-size: 36px;
}
.services-img{
  width: 350px;
  height: 350px;
  margin-top: 30px;
}
.box{
  background: #e12723 !important;
  text-align: center;
}