* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.navbar-title {
  font-weight: bolder;
  margin-left: 120px !important;
  margin-top: 15px;
  color: black;
  font-size: 34px;
}
.navbar-title:hover {
  color: black;
}
.navbar-sections a {
  color: black;
  font-weight: 600;
  margin-right: 40px;
  margin-top: 15px;
  font-size: 18px;
}
.navbar-sections a:hover {
  color: #d14f4f;
}

.navbar-button {
  border-radius: 10px !important;
  margin-right: 120px;
  margin-top: 15px;
  margin-left: 25px;
}
.home-img {
  width: 650px;
  height: 450px;
  /* margin-top: 90px; */
}

.text-1 {
  color: black;
  margin-left: 25px;
  font-weight: 600;
  font-size: 24px;
}
.text-2 {
  color: black;
  margin-left: 25px;
  font-weight: bold;
  font-size: 56px;
}
.text-3 {
  color: black;
  margin-left: 25px;
  font-weight: bold;
  font-size: 22px;
}
.aboutMe_heading {
  color: #c5221f;
  /* margin-left: 132px; */
  /* margin-top: 200px; */
  font-weight: bolder;
  border-bottom: 2px solid #c5221f;
  width: 210px;
}
.aboutMe_intro {
  text-align: center;
  /* margin-right: 140px; */
  /* margin-left: 500px; */
  /* margin-top: -40px; */
  color: black;
  font-weight: 600;
  font-size: 22px;
}
.about-horizontal {
  border: 2px solid black;
}

.about-img {
  width: 150px;
  height: 250px;
  margin-top: 30px;
}
.about-align {
}
.about-button {
  border-radius: 30px !important;
  background-color: #3e89cd;
  color: white;
  width: 150px;
  height: 30px;
  border: none;
}
