* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  }
  body{
    overflow-x:hidden;
  /* to hide the scroll use overflow */
  }
.navbar-title {
  font-weight: bolder;
  margin-left: 120px !important;
  margin-top: 15px;
  color: black;
  font-size: 34px;
}
.navbar-title:hover {
  color: black;
}
.navbar-sections a {
  color: black;
  font-weight: 600;
  margin-right: 40px;
  margin-top: 15px;
  font-size: 18px;
}
.navbar-sections a:hover {
  color: #d14f4f;
}

.navbar-button {
  border-radius: 10px !important;
  margin-right: 120px;
  margin-top: 15px;
  margin-left: 25px;
}
.home-img {
  width: 650px;
  height: 450px;
  
  /* use position: absolute; right: 0%; to move image in right side */
  
}
.wrapper{
  display:flex;
}
.vertical-line{
  background:black;
  width:5px;
  height:150px;
  margin-top:160px;
}
.card{
  border-radius:40px !important;
}
.card-body-main{
  padding:10px;
  margin-top:10px;
}
.landingText-1 {
  color: black;
  margin-left: 25px;
  margin-top:80px;
  font-weight: 600;
  font-size: 24px;
}
.landingText-2 {
  color: black;
  margin-left: 25px;
  font-weight: bold;
  font-size: 56px;
}
.landingText-3 {
  color: black;
  margin-left: 25px;
  font-weight: bold;
  font-size: 22px;
}
.aboutMe_heading {
  color: #c5221f;
  font-weight: bolder;
  border-bottom: 2px solid #c5221f;
  width: 210px;
  margin-top: 80px;
}
.aboutMe_intro {
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 22px;
  margin-top: 90px;
}
.about-horizontal {
  border: 2px solid black;
}
.about-img {
  width: 150px;
  height: 250px;
  margin-top: 30px;
}
.about-button {
  border-radius: 30px !important;
  background-color: #3e89cd;
  color: white;
  width: 150px;
  height: 30px;
  border: none;
}
.about-dob{
  color: #C5221F;
  font-weight: 600;
}
.about-loc{
  color: #C5221F;
  font-weight: 600;
}
.about-button{
  height: 53px;
  border-radius: 24px;
  width: 160px;
}
.services_heading{
  font-weight: 800;
  font-size: 36px;
}
.services-img{
  width: 350px;
  height: 350px;
  margin-top: 30px;
}
.box{
  background: #e12723 !important;
  text-align: center;
  
}
.responsiveService{
  margin-top: 152px;
  margin-left: 90px;
}
.websiteServices{
margin-bottom: 05px;
}
.UIServices{
  margin-top: 80px;
}